<%= form_for(@vote_line) do |f| %>
  <% if @vote_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_line.errors.count, "error") %> prohibited this vote_line from being saved:</h2>

      <ul>
      <% @vote_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :votes %><br>
    <%= f.number_field :votes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
