<h1>Listing applied_lines</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applied_lines.each do |applied_line| %>
      <tr>
        <td><%= applied_line.code %></td>
        <td><%= link_to 'Show', applied_line %></td>
        <td><%= link_to 'Edit', edit_applied_line_path(applied_line) %></td>
        <td><%= link_to 'Destroy', applied_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applied line', new_applied_line_path %>
